<div class="container">
  <header class="header-container">
    <div class="header-container-content">
      <div class="header-container-logo">
       <img id="logo-image" src="assets/images/logoport.png" alt="Ilustração de homem sentado em frente ao computador (programador)" (click)="routerService.toHomepage()">
      </div>
      <ul class="header-container-options">
        <li highlightHover class="header-container-options-option" (click)="routerService.toHomepage()">Página inicial</li>
        <li highlightHover class="header-container-options-option" (click)="routerService.toContacts()">Contatos</li>
        <li highlightHover class="header-container-options-option" (click)="routerService.toProjects()">Projetos</li>
        <li highlightHover class="header-container-options-option" (click)="routerService.toTechnologies()">Tecnologias</li>
      </ul>
    </div>
  </header>

  <div class="main-container blue-gradient">

    <div class="main-container-content">
      <ng-content></ng-content>
      <footer class="footer-container">
        <div class="footer-container-content">
          <p class="footer-message footer-font">
            © 2024 Matheus Badia. Todos os direitos reservados.
          </p>
          <ul class="footer-options">
            <li whiteShadowHover class="footer-options-option footer-font click" (click)="contactService.goToGithub()">Github</li>
            <li whiteShadowHover class="footer-options-option footer-font click" (click)="contactService.goToLinkedin()">Linkedin</li>
            <li whiteShadowHover class="footer-options-option footer-font click" (click)="contactService.sendEmail()">E-mail</li>
            <li whiteShadowHover class="footer-options-option footer-font click" (click)="contactService.sendMessage()">Whatssap</li>
          </ul>
        </div>
      </footer>
    </div>


  </div>

</div>

