<div class="container">
  <header class="header-container">
    <div class="header-container-content">

      <div class="header-container-logo">
       <img id="logo-image" src="assets/images/logoport.png">
      </div>
      <ul class="header-container-options">
        <li class="header-container-options-option">Contatos</li>
        <li class="header-container-options-option">Projetos</li>
        <li class="header-container-options-option">Tecnologias</li>
      </ul>

    </div>
  </header>

  <div class="main-container">
    <div class="main-container-content">
      texto texto texto texto texto texto
      texto texto texto texto texto texto
      texto texto texto texto texto texto
      texto texto texto texto texto texto
      texto texto texto texto texto texto
      texto texto texto texto texto texto
    </div>

    <footer class="footer-container">
      <div class="footer-container-content">
        <p class="footer-container-options-message footer-font">
          © 2024 Matheus Badia. Todos os direitos reservados.
        </p>
        <ul class="footer-container-options">
          <li class="footer-container-options-option footer-font">Github</li>
          <li class="footer-container-options-option footer-font">Linkedin</li>
          <li class="footer-container-options-option footer-font">E-mail</li>
          <li class="footer-container-options-option footer-font">Whatssap</li>
        </ul>
      </div>
    </footer>

  </div>

</div>

