<div class="container">
  <header class="header-container">
    <div class="header-container-content">
      <div class="header-container-logo">
       <img id="logo-image" src="assets/images/logoport.png" (click)="toHomepage()">
      </div>
      <ul class="header-container-options">
        <li highlightHover class="header-container-options-option" (click)="toContacts()">Contatos</li>
        <li highlightHover class="header-container-options-option" (click)="toProjects()">Projetos</li>
        <li highlightHover class="header-container-options-option" (click)="toTechnologies()">Tecnologias</li>
      </ul>
    </div>
  </header>

  <div class="main-container">

    <div class="main-container-content">
      <ng-content></ng-content>
      <footer class="footer-container">
        <div class="footer-container-content">
          <p class="footer-message footer-font">
            © 2024 Matheus Badia. Todos os direitos reservados.
          </p>
          <ul class="footer-options">
            <li whiteShadowHover class="footer-options-option footer-font click">Github</li>
            <li whiteShadowHover class="footer-options-option footer-font click">Linkedin</li>
            <li whiteShadowHover class="footer-options-option footer-font click">E-mail</li>
            <li whiteShadowHover class="footer-options-option footer-font click">Whatssap</li>
          </ul>
        </div>
      </footer>
    </div>


  </div>

</div>

