<app-project-documentation
  [projectTitle]="'Sistema de gerenciamento de tarefas com autenticação JWT'"
  [projectDescription]="'API que permite gerenciamento de tarefas, o sistema tem endpoint para registro e login de usuários'">

  <div>
    <p class="documentation-text">
      Utilizando o Spring boot criei uma API numa estrutura
      Controller - Service - Repository, padrão comumente utilizado
      em algumas aplicações que envolvem o Spring Boot
    </p>
  </div>


</app-project-documentation>
