<app-project-documentation
  [projectTitle]="'Sistema de gerenciamento de tarefas com autenticação JWT'"
  [projectDescription]="'API que permite gerenciamento de tarefas, o sistema tem endpoint para registro e login de usuários'">

  <div>
    <div>
      <app-github-link [link]="project01Link">
      </app-github-link>

    </div>
    <p class="documentation-text">
      Utilizando o Spring boot criei uma
      API numa estrutura Controller - Service - Repository,
      padrão comumente utilizado em algumas aplicações que envolvem o ecossistema Spring.
    </p>
    <p class="documentation-text">
      Bean Validation, Criação de serviço para manipulação de Tokens JWT,
      Configuração de Cors da aplicação, Padrão DTO para envio de dados,
      Tratamento de exceções personalizadas, criação de filtro personalizado
      que foi implementado dentro do FilterChain do Spring Security para
      validação do Token JWT.
    </p>
    <p class="documentation-text">
      Projeto também foi criado com objetivo de testar um padrão Utilizado
      no Domain Driven Design (Specification)
      que possibilita uma reutilização de query’s para evitar duplicações desnecessárias.
    </p>
  </div>

</app-project-documentation>
