<app-base-page>
  <div class="page-container">

    <div class="technologies-container">
      <app-technology
        [technologyName]="'JAVA'"
        [altDescription]="'Linguagem de programção Java'"
        [source]="'assets/technologies-logo/java logo.png'"
      ></app-technology>

      <app-technology
        [technologyName]="'SPRING FRAMEWORK'"
        [altDescription]="'Spring Boot'"
        [source]="'assets/technologies-logo/spring boot t.png'"
      ></app-technology>

      <app-technology
        [technologyName]="'GIT'"
        [altDescription]="'Sistema de versionamento de código'"
        [source]="'assets/technologies-logo/git logo.png'"
      ></app-technology>

      <app-technology
        [technologyName]="'GITHUB'"
        [altDescription]="'repositórios de códigos'"
        [source]="'assets/technologies-logo/github.png'"
      ></app-technology>

      <app-technology
        [technologyName]="'SQL'"
        [altDescription]="'Linguagem SQL'"
        [source]="'assets/technologies-logo/database logo.png'"
      ></app-technology>

      <app-technology
        [technologyName]="'MySQL'"
        [altDescription]="'Gerenciador de banco de dados MySQL'"
        [source]="'assets/technologies-logo/mysql logo.png'"
      ></app-technology>

      <app-technology
        [technologyName]="'UML'"
        [altDescription]="'Unified Modeling Language'"
        [source]="'assets/technologies-logo/UML logo.png'"
      ></app-technology>

      <app-technology
        [technologyName]="'MAVEN'"
        [altDescription]="'Gerenciador de pacotes e projetos Maven'"
        [source]="'assets/technologies-logo/maven logo.png'"
      ></app-technology>

      <app-technology
        [technologyName]="'MOCKITO'"
        [altDescription]="'Biblioteca de criação de mocks para Java'"
        [source]="'assets/technologies-logo/mockito logo.png'"
      ></app-technology>

      <app-technology
        [technologyName]="'JUNIT 5'"
        [altDescription]="'Biblioteca de teste para Java'"
        [source]="'assets/technologies-logo/junit.png'"
      ></app-technology>

      <app-technology
        [technologyName]="'ANGULAR'"
        [altDescription]="'Framework para criação de aplicações web com typescript'"
        [source]="'assets/technologies-logo/angular logo.png'"
      ></app-technology>

      <app-technology
        [technologyName]="'DOCKER'"
        [altDescription]="'Ferramenta para criação de imagens e containers'"
        [source]="'assets/technologies-logo/docker logo.png'"
      ></app-technology>

      <app-technology
        [technologyName]="'TYPESCRIPT'"
        [altDescription]="'Linguagem de programação Javascript com tipagem estática'"
        [source]="'assets/technologies-logo/typescript logo.png'"
      ></app-technology>

    </div>

  </div>
</app-base-page>
