<app-base-page>
  <div class="page-container">

    <div class="projects-container">
      <app-project class="project" (click)="projectsRouterService.project01()"
        [projectTitle]="'Sistema de gerenciamento de tarefas com autenticação / autorização via Token JWT'"
        [usedTechnologies]="'Spring boot, Spring web, Spring data JPA, Spring Security, SQL, MySQL, JWT authentication'"
      ></app-project>
      <p>
        Em breve novos projetos serão documentados...
      </p>
    </div>

  </div>
</app-base-page>
