<app-base-page>
  <div class="page-container">

    <div class="projects-container">
      <app-project class="project"
        [projectTitle]="'Sistema de gerenciamento de tarefas com autenticação / autorização via Token JWT'"
        [usedTechnologies]="'Java, Spring Boot, Angular, Spring Security'"
      ></app-project>

      <app-project class="project"
        [projectTitle]="'Sistema de gerenciamento de tarefas com autenticação / autorização via Token JWT junto com Front-end feito em Angular'"
        [usedTechnologies]="'Java, Spring Boot, Angular, Spring Security'"
      ></app-project>

    </div>

  </div>
</app-base-page>
