.box {
  height: 100px;
  width: 100px;
  margin: 10px;
  background-color: aqua;
}

.page-container {
  height: calc(100vh - 4em);
  width: 100%;
  overflow: auto;
}

.projects-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.project {
  width: 100%;
}
