<app-base-page>
  <div class="page-container">
    <div class="contacts-container">

      <div class="contact-item">
        <app-contact-info src="assets/contacts-logo/github.png" title="Github">
          <div>
            Testing the container github contact
          </div>
        </app-contact-info>
      </div>

      <div class="contact-item">
        <app-contact-info src="assets/contacts-logo/linkedin.png" title="Linkedin">
          <div>
            Testing the container linkedin contact
          </div>
        </app-contact-info>
      </div>

      <div class="contact-item">
        <app-contact-info src="assets/contacts-logo/email.png" title="E-mail">
          <div>
            Testing the container e-mail contact
          </div>
        </app-contact-info>
      </div>

      <div class="contact-item">
        <app-contact-info src="assets/contacts-logo/whatsapp.png" title="Whatssap">
          <div>
            Testing the container whatssap contact
          </div>
        </app-contact-info>
      </div>

    </div>
  </div>
</app-base-page>
